:root {
    /* app colors */
    /*    --screen-bg-color: white; */
    --screen-bg-color: #F2E2F2;
    --screen-color: #0d1117;
    --standard-btn-bg-color: rgba(0, 0, 0, .25);
    --standard-btn-color: black;
    --standard-btn-height: 2em;
    --delete-btn-bg-color: #e91e63;
    --delete-btn-color: white;

    --help-color: #4e67c8;

    /* Cell colors */
    --defined-cell-bg-color: #7986CB;
    --defined-cell-color: #FFF9C4;

    --played-cell-bg-color: #4DB6AC;
    --played-cell-color: #0d1117;

    --nested-cell-bg-color: #ebdaa4;
    --nested-cell-color: black;

    --selected-cell-bg-color: black;
    --selected-cell-color: white;
    --selected-cell-border-color: Magenta;

    --error-cell-bg-color: hsl(340, 82%, 52%);
    --error-cell-color: white;

    /* Other definitions */
    /* --sudoku-cell-size: calc((100vw - 3.8rem)/9);
    --border-radius: 0.5em;

    --font-size-cell: 1.6em;

    --font-size: 1.2em;
    --font-size-lg: 1.4em;
    --font-size-xl: 1.8em;

    /* Setting the global font size */
    /* Prozent von der Browser Font-Einstellung */
    /* font-size: 62.5%; */
    font-size: clamp(12px, 2.2vw, 20px);

    /* Effekt: 1rem = 10px */
}

* {
    padding: 0;
    margin: 0;
    /* padding and border are included in the width and height */
    box-sizing: border-box;
}

/* Set height of body and the document to 100% */
html {
    font-size: clamp(12px, 2.2vw, 20px);
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #f5f5f5;
    /* Grey 100 */
}


.app-content {
    width: calc(min(95vw, 820px));
    margin: 0 auto;
}

/* ********** App-header and footer ***************************/

.app-name-header,
.db-puzzle-header,
.app-name-footer {
    width: 100%;
    display: grid;
    place-items: center;
    position: relative;
    height: 1.8em;
    font-size: 1.2em;
    font-weight: bold;
    background-color: DimGray;
    color: white;
    border-radius: 0.6em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.app-name-header>span,
.app-name-footer>span,
.db-puzzle-header>span {
    font-size: 0.8em;
}



/*======================================*/
/* Global definitions */
/*======================================*/



.navbar-element {
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 1.2em;
    color: white;
}

#appVersion {
    margin-top: 3em;
}

#share-app-btn {
    padding: 0.4em;
    border: 0.6rem solid grey;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 1.2em;
    display: grid;
    grid-template-columns: 0.4fr 1.2fr 0.1fr;
    text-align: center;
    place-items: center;
}

.share-imageURL {
    margin-right: 5em;
}

/*=====================================================*/
/* Side Navigation */
/*=====================================================*/


.sidenav {
    height: 95vh;
    width: 0;
    position: fixed;
    z-index: 3;
    /* top: 0;
    left: 0; */
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 1em;
}


.sidenav a,
.dropdown-btn {
    padding: 0.8rem 0.8rem 0.8rem 2.4em;
    text-decoration: none;
    font-size: 2.4em;
    color: white;
    display: block;

    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.closebtn {
    text-align: right;
    padding: 0.8em;
    text-decoration: none;
    font-size: 4em;
    color: white;
    display: block;
    border: none;
    background: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    margin-bottom: 2em;
}

/* Hover not possible on touch devices */

.sidenav a:active,
.dropdown-btn:active {
    color: white;
}

.closebtn:active {
    color: white;
}

/**************************************/

.active {
    background-color: green;
    color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color 
   and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 1.8em;
}

/* Optional: Style the caret down icon */

.fa-caret-down,
.no-caret {
    float: right;
    padding-right: 0.8em;
}

#caret-down-img,
#no-caret-img {
    width: 2.4em;
    height: 2.4em;
}



/*=======================================================*/


#db-close-btn {
    position: absolute;
    right: 1%
}


/*==============================================*/

.main-sudoku-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.2em;
    aspect-ratio: 1 / 1;
    background: #646566;
    touch-action: pinch-zoom;
}

.sudoku-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.06em;
    font-size: 1em;
    line-height: 1;
    text-align: center;

}

.sudoku-block.necessary {
    background-color: grey;
    opacity: 0.5;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.6);
    /* Weiß, 60% Deckkraft */
    backdrop-filter: blur(6px);
    /* Milchiger Effekt */
    z-index: 10;
    pointer-events: none;
    /* Klicks gehen durch */
    border-radius: inherit;
}


.sudoku-grid-cell {
    /* background-color: #fff;*/
    position: relative;

    background-color: #dadedf;
    /* sehr helles Grau, fast weiß */

    color: #222;
    font-size: inherit;
    transition: background 0.2s, box-shadow 0.2s, border 0.2s;
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03); */
    user-select: none;
    cursor: pointer;
    display: grid;
    place-items: center;
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
}

.sudoku-grid-cell.empty {
    background-color: var(--nested-cell-bg-color);
    /* sanftes, leicht bläuliches Grau */
    color: var(--nested-cell-color);
    /*text-shadow: 0 1px 2px #fff, 0 0px 8px #bdbdbd;*/
}

.sudoku-grid-cell.solved {
    background-color: var(--played-cell-bg-color);
    /* sanftes, leicht bläuliches Grau */
    color: var(--played-cell-color);
    font-size: inherit;
    /*text-shadow: 0 1px 2px #fff, 0 0px 8px #bdbdbd;*/
}

.sudoku-grid-cell.given {
    background-color: var(--defined-cell-bg-color);
    /* sehr helles Blau, dezent */
    color: var(--defined-cell-color);
    font-size: inherit;
    /* text-shadow: 0 1px 2px #fff, 0 0px 8px #bdbdbd; */

}

.candidates {
    background-color: var(--nested-cell-bg-color);
    /* fast weiß, aber leicht abgesetzt */
    /* background: none; */
    font-size: 0.4em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    padding: 0;
    width: 100%;
    height: 100%;
}

.candidate {
    color: black;
}

.inAdmissible {
    color: red;
}


.sudoku-grid-cell.selected {
    /* font-size: inherit; */
    background: #e3f2fd;
}

.sudoku-grid-cell.row-selected,
.sudoku-grid-cell.col-selected,
.sudoku-grid-cell.block-selected {
    background: #f5faff;
}

.sudoku-grid-cell.error {
    color: #d32f2f;
    border: 2px solid #d32f2f;
    background: #fff5f5;
}

/*
 @media (max-width: 600px) {
            .main-sudoku-grid {
                font-size: 2vw;

                font-size: clamp(1vw, 1.0vh, 1rem);

                padding: 2px;
            }

        }
        */
/*======================================*/
/* Sudoku grid block */
/*======================================*/

/*
.grid-area {
    display: grid;
    grid-template-columns: repeat(1, auto);
  
    /* border-bottom: 0.2rem solid gray; 
}
*/

.mainLoading {
    animation: zoom-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.grid-plus-explainer {
    position: relative;
    /* border: 0.1rem solid black;*/
    height: fit-content;
    background-color: lightgrey;
}

.sudoku-grid-cell.selected {
    background-color: #f39795fb;
}

.sudoku-grid-cell.auto-selected {
    /*  background-image: url("../images/selectBG1.png");*/
    background-color: hsl(0, 67%, 84%);
}


.sudoku-grid-cell.hover {
    border: 0.2rem solid var(--selected-cell-border-color);
}

.sudoku-grid-cell.hover-red {
    border: 0.3rem dashed Magenta;
}

.sudoku-grid-cell.hover-green {
    border: 0.3rem dashed green;
}

.sudoku-grid-cell.hover-white {
    border: 0.3rem dashed white;
}

.sudoku-grid-cell.hover-black {
    border: 0.3rem dashed black;
}


.sudoku-block.err {
    background-color: var(--error-cell-bg-color);
    color: var(--error-cell-color);
}

.sudoku-grid-cell.row-err,
.sudoku-grid-cell.col-err {
    border: 0.3rem solid var(--error-cell-bg-color);
}

.sudoku-grid-cell.col-err {
    border-top: 0.2rem solid var(--error-cell-bg-color);
    border-bottom: 0.2rem solid var(--error-cell-bg-color);
}

.sudoku-grid-cell.row-err {
    border-left: 0.2rem solid var(--error-cell-bg-color);
    border-right: 0.2rem solid var(--error-cell-bg-color);
}

.sudoku-grid-cell.err,
.sudoku-grid-cell.wrong {
    /* background-color: var(--error-cell-bg-color); 
    color: var(--error-cell-color); */
    border: 0.4rem solid Crimson;
}

.sudoku-grid-cell.err.selected {
    background-color: black;
}


.necessary-big {
    background-color: rgb(175, 237, 175);
    font-size: inherit;
    font-weight: bold;
    color: rgb(0, 57, 0);
    width: 50%;
}

.candidates-big {
    background-color: var(--nested-cell-bg-color);
    /* fast weiß, aber leicht abgesetzt */
    /* background: none; */
    font-size: 0.6em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    padding: 0;
    width: 100%;
    height: 100%;
}

.single {
    background-color: white;
    font-size: inherit;
    font-weight: bold;
    color: rgb(0, 57, 0);
    width: 50%;
}


.loaded-evaluations,
.grid-plus-explainer {
    font-size: 0.5em;
    display: flex;
    padding: 0.3em 0.3em;
    background-color: lightgrey;
}

.pz-name {
    text-align: left;
    width: 100%;
}

.pz-level {
    text-align: right;
    width: 100%;
}

.technique,
.reasonUnsolvability {
    width: 100%;
    font-size: 0.8em;
    display: flex;
    background-color: lightgrey;
}

.reasonUnsolvability {
    color: Crimson;
}

/*======================================*/
/* Button block                        */
/*======================================*/
.btn-block {
    position: relative;
}

/* Buttons */

/* Tipp:
Für Flächen: background-color: #f5f5f5; (Grey 100)
Für Buttons: background: linear-gradient(90deg, #e0e0e0 0%, #bdbdbd 100%);
Für Text: color: #222; oder color: #424242;
*/

.material-icons,
.material-symbols-outlined {
    font-size: 0.8rem;
    color: #e0e0e0;
    /* Google-grey 300 */
    /* color: #9e9e9e; /* Google-grey 500 */
    vertical-align: middle;
}

.modern-btn {
    display: inline-flex;
    align-items: center;
    gap: 0.2em;
    background: linear-gradient(95deg, #888b90 0%, #b0b3b8 100%);
    color: #222;
    border: none;
    border-radius: 0.3em;
    font-weight: 600;
    font-size: 0.2em;
    box-shadow: 0 2px 8px rgba(120, 120, 120, 0.10);
    cursor: pointer;
    transition: background 0.2s, box-shadow 0.2s, transform 0.1s;

}

.modern-btn:hover {
    background: linear-gradient(95deg, #b0b3b8 0%, #bdbdbd 100%);
    box-shadow: 0 4px 16px rgba(120, 120, 120, 0.18);
    transform: translateY(-2px) scale(1.03);
    outline: none;
}

.modern-btn:focus {
    outline: none;
}

.modern-btn:active {
    transform: translate(0.2rem, 0.2rem);
}

#btn-help {
    background: DimGray;
    color: white;
    position: absolute;
    right: 0.6rem;
    font-size: 0.8rem
}

#btn-menu {
    background: DimGray;
    color: white;
    position: absolute;
    left: 0.6rem;
    font-size: 0.8rem;
}

#btn-share {
    background: DimGray;
    color: white;
    position: absolute;
    right: 6rem;
    font-size: 0.8rem;
}

#manual-btn-block {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0.2em;
    justify-items: stretch;
    align-items: stretch;
    width: 100%;
}


#automatic-btn-block {
    margin-top: 0.4em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.4em;
    justify-items: stretch;
    align-items: stretch;
    width: 100%;
}


#manual-btn-block .modern-btn,
#automatic-btn-block .modern-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.1rem;
    font-size: 0.6rem;
    padding: 0.2rem 0.2rem;
    min-width: 0;
    min-height: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    white-space: normal; 
}

.number-btn {
    font-size: 1.2em;
}

#btn-define {
    background: var(--defined-cell-bg-color);
    color: var(--defined-cell-color);
}

#btn-play {
    background: var(--played-cell-bg-color);
    color: var(--played-cell-color);
}

.btn-define.pressed {
    /* transform: translate(0.2rem, 0.2rem); */
    border: 0.3rem solid darkblue;
}

.btn-play.pressed {
    border: 0.3rem solid darkgreen;
}


.btn-delete-cell {
    background: var(--delete-btn-bg-color);
    color: var(--delete-btn-color);
}


#btn-pause,
#btn-stop {
    display: none;
}

#btn-run {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
}

#btn-autoStep {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
}

.btn-image {
    width: 1.8em;
    height: 1.8em;
}

.breakpoint-setting-image {
    width: 2.4em;
    height: 2.4em;
}

/*======================================*/
/* Evaluation radio buttons             */
/*======================================*/

/*======================= */

.first-label-container {
    margin-top: 1em;
}

.label-container {
    display: inline-grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: auto;
    grid-template-areas:
        'input prefix-text'
        'empty label-text';
}

.radio-eval-type {
    grid-area: input;
    align-self: center;
    margin: 0;
}

.label-text:first-of-type {
    grid-area: prefix-text;
    align-self: center;
}

.label-text:last-of-type {
    grid-area: label-text;
}

.prefix {
    font-weight: bold;
    font-size: 1.2em;
}

.text-spacing {
    padding-inline-start: 0.6em;
    padding-inline-end: 0.3em;
}

/*======================= */


.eval-btn-block {
    margin-top: 1em;
    font-size: 1.2em;
}

/* ======================================*/
/* Evaluation block                       */
/* ======================================*/


.pc-eval,
.play-mode,
.breakpoint-settings,
.io-technique {
    margin-top: 0.4em;
    margin-left: 2em;
    margin-right: 2em;
}

.level-fieldset {
    display: flex;
    flex-direction: column;
    align-items: left;
}


.pc-floatBlock,
.breakpoint,
.puzzle-io,
.further {
    font-size: 1.0em;
    padding: 0.4em;
}

/* ======================================*/
/* Evaluation block                       */
/* ======================================*/
.eval-legend,
.play-mode-legend,
.breakpoints-legend,
.puzzle-io-legend {
    margin-top: 1.4em;
    margin-left: 1.2em;
    font-weight: bold;
    font-size: var(--font-size-lg);
}

/*======================================*/
/* Progress block */
/*======================================*/

.progress-box {
    /* border-bottom: 0.3rem solid #0d1117; */
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    background-color: #f5f5f5;
    font-size: 0.4em;
}

.progress-block {
    margin-top: 0.2em;
    line-height: 1.2em;
    display: grid;
    grid-template-columns: 1.2fr 0.2fr 0.8fr;
    gap: 0.2em;
}

.checkbox {
    margin-left: 0.3em;
    background-color: grey;
}

.step-count-box {
    line-height: 1.2em;
    height: 1.2em;
    display: flex;
    margin-right: 0.2em;
    /*  width: 14.5em; */
    width: 100%;
}

.forward-backward-image {
    width: 1em;
    height: 1em;
}

.forward,
.backward {
    height: 1.2em;
    padding-left: 1em;
    padding-right: 1em;
}

.autoMode-radio-btns {
    place-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: lightgrey;
}

.forward.checked,
.backward.checked {
    background-color: var(--played-cell-bg-color);
}

#myProgress {
    position: relative;
    width: 100%;
    height: 1.6em;
    font-size: var(--font-size);
    text-align: right;
    padding-right: 0.5em;
    background-color: var(--nested-cell-bg-color);
}

#myBarDef,
#myBarPlay {
    position: absolute;
    width: 20%;
    height: 1.6em;
    line-height: 1.6em;
}

#myBarDef {
    z-index: 2;
    background-color: var(--defined-cell-bg-color);
    color: white;
    text-align: center;
}

#myBarPlay {
    z-index: 1;
    background-color: var(--played-cell-bg-color);
    color: black;
    text-align: right;
    padding-right: 0.5em;
}

.total-bar-value {
    line-height: 1.6em;
    vertical-align: center;
}

/*=======================================*/
/* DB-Dialog 
/*=======================================*/

.puzzle-header {
    font-size: var(--font-size-xl);
    display: inline-block;
    color: black;
    margin-top: 1em;
}


/* ===================================================*/
/*  Save and rename dialogs                           */
/*====================================================*/

.puzzle-dlg {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1.4em;
}

.puzzle-dlg::backdrop {
    background: hsl(201 50% 40% /.5);
}

.dlg-header {
    font-size: var(--font-size-lg);
    font-weight: bold;
    margin: 0.5em;
    text-align: center;
}

label {
    font-size: var(--font-size-lg);
    margin-left: 1.2em;
    margin-bottom: 1.2em;
}

.puzzle-name-input-dlg {
    width: 90%;
    margin-top: 0.8em;
    margin-left: 1.2em;
    padding: 0.4em;
    font-size: var(--font-size-lg);
}

.ok-cancel-btns {
    font-size: var(--font-size);
    margin: 2.4em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8em;
}

.ok-cancel-btn {
    padding-left: 0.8em;
    padding-right: 0.8em;
}

/*=======================================*/
/* Tracker-Dialog 
/*=======================================*/



.trackerDlg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: #f5f5f5;
    border: none;
    width: 100%;
}


.tracker-dialog-area {
    /*  border: 0.2rem solid grey; */
    display: grid;
    place-items: center;
}



.trackerDlg::backdrop {
    background: hsl(201 50% 40% /.1);
}

.technique-row {
    height: 2.2em;

    display: flex;
    flex-direction: row;
    position: relative;
}

.tracker-dlg-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    height: 2.6em;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    padding: 0.2em;
    background-color: DimGray;
    color: white;
}

.tracker-dlg-solution {
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    flex-direction: row;
    place-items: center;
    border: 0.4rem solid DimGrey;
    background-color: var(--played-cell-bg-color);
}

.label-solution {
    font-size:0.8em;
    padding: 0.4em;
}

.number-of-solutions {
    text-align: center;
    font-size: 1em;
}



.tracker-dlg-btn-image {
    width: 4em;
    height: 2em;
    margin: 0.1em;
}

.tipp-accept-btn-image {
    padding-right: 0.4em;
    width: 1.2em;
    height: 1em;
}

.tracker-dlg-reset-btn-image {
    padding: 0.4em;
    width: 1.8em;
}

.tipp-accept-btn,
.search-reset-btn {
    position: absolute;
    right: 1.8%;
    border-radius: 0.4em;

    font-size: 1em;
    padding: 0.1em;
    padding-right: 0.4em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.1em;

}


#tracker-dlg-btn-step-sequence-image,
#tracker-dlg-btn-solution-sequence-image {
    width: 1.2em;
}


/*================


/*=======================================*/
/* Info-Dialog 
/*=======================================*/

.infoDlg::backdrop {
    background: hsl(201 50% 40% /.5);
}

.infoDlg {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.infoDlgHeader {
    font-size: var(--font-size-lg);
    font-weight: bold;
    margin: 1em;
    text-align: center;
}

.infoDlgBodyRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.infoDlgBody {
    font-size: var(--font-size-lg);
    margin-left: 1em;
}

.infoIcon {
    margin-left: 0.5em;
    margin-right: 1em;
    height: 6em;
    width: 6em;
    background-color: white;
}

.infoDlg-OK-Btn {
    font-size: var(--font-size);
    width: 10em;
    margin-top: 1em;
    /* margin-left: auto; */
    float: right;
    margin-right: 1em;
    margin-bottom: 1em;
}

/*=======================================*/
/* NewPuzzle-Dialog 
/*=======================================*/

.new-puzzle-dlg::backdrop {
    background: hsl(201 50% 40% /.5);
}


.new-puzzle-dlg-header {
    font-size: 2.4em;
    font-weight: bold;

}

.level-fieldset {
    margin-top: 2em;
}

.new-puzzle-selection-legend {
    margin-left: 1em;
    font-weight: bold;
    font-size: var(--font-size);
}

.new-puzzle-icon {
    margin-left: 0.5em;
    margin-right: 1em;
    height: 6em;
    width: 6em;
    background-color: white;
}

#new-puzzle-ok-cancel-btns {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 2em;
    gap: 1em;
    margin-right: 2em;
}

.new-puzzle-bar {
    position: relative;
    width: 50%;
    height: 1.6em;
    font-size: var(--font-size);
    text-align: right;
}

#very-simple-Bar,
#simple-Bar,
#medium-Bar,
#heavy-Bar,
#very-heavy-Bar,
#extreme-heavy-Bar {
    position: absolute;
    height: 1.6em;
    line-height: 1.6em;
    padding-right: 0.5em;
}

.total-bar-value {
    line-height: 1.6em;
    vertical-align: center;
}



#btn-new-puzzle-ok,
#btn-new-puzzle-cancel {
    text-align: center;
    font-size: var(--font-size);
}


/*=======================================*/
/* Confirm-Dialog 
/*=======================================*/

.confirm-dlg::backdrop {
    background: hsl(201 50% 40% /.5);
}

.confirm-dlg {
    width: 30em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.confirm-dlg-header {
    font-size: var(--font-size-lg);
    font-weight: bold;
    margin: 1em;
    text-align: center;
}

.confirm-dlg-body {
    font-size: var(--font-size-lg);
    margin-left: 1em;
}

.confirm-icon {
    margin-left: 0.5em;
    margin-right: 1em;
    height: 6em;
    width: 6em;
    background-color: white;
}

#confirm-ok-cancel-btns {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 2em;
    gap: 1em;
    margin-right: 2em;
}

#btn-settings-dlg-ok,
#btn-settings-dlg-cancel,
#btn-confirm-ok,
#btn-confirm-cancel {
    text-align: center;
    font-size: var(--font-size);
}

.copyFeedback-dlg {
    width: 30em;
    height: 10em;
    background-color: black;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.copyFeedback-dlg-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: var(--font-size-xl);
}

/*=======================================*/
/* Settings-Dialog 
/*=======================================*/

.new-puzzle-dlg,
.settings-dlg {
    max-width: 50em;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    position: absolute;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 1.2em;

}



.settings-dlg::backdrop {
    background: hsl(201 50% 40% /.5);
}

.settings-dlg-area {
    display: grid;
    place-items: center;
}

#settings-ok-cancel-btns {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 2em;
    gap: 1em;
    margin-right: 2em;
}

/*======================================*/
/*======================================*/

/* 1. Dialogebene */
.puzzle-table-dlg {
    margin: auto;
    /*max-width: 800px;*/
    max-width: 95%;
    border: none;
    background-color: #500;

}

#db-puzzle-dialog::backdrop {
    background: #500
}

.db-puzzle-header {
    background-color: #500;
}

#db-close-btn {
    font-weight: bold;
    color: white;
    text-align: right;
    font-size: 3.4em;
}

.tableFixHead {
    overflow-y: auto;
    /* make the table scrollable if height is more than 200 px  */
    height: 30em;
    /* gives an initial height of 200px to the table */
}

.tableFixHead thead th {
    position: sticky;
    /* make the table heads sticky */
    top: 0px;
    /* table head will be placed from the top of the table and sticks to it */
}

.db-puzzle-table {
    border-collapse: collapse;
    /* make the table borders collapse to each other */
    width: 100%;
}

.db-puzzle-table th,
.db-puzzle-table td {
    font-size: 1.0em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    border: 0.1rem solid #ccc;
}

.db-puzzle-table th {
    /* background: #eee; */
    background: #818181;
    color: white;
}

#col-status-given,
#col-status-solved,
#col-status-open,
#col-backTracks,
#col-countSolutions {
    writing-mode: vertical-rl;
    padding: 0.6em;
}

#col-status-given {
    background-color: var(--defined-cell-bg-color);
    color: white;
}

#col-status-solved {
    background-color: var(--played-cell-bg-color);
    color: black;
}

#col-status-open {
    background-color: var(--nested-cell-bg-color);
    color: black;
}


.db-puzzle-tbody tr td {
    background-color: #ddd;
}

.db-puzzle-tbody tr.selected td {
    background-color: lightcyan;
}

.db-puzzle-btns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.3em;
    margin: 1em;
}

.db-puzzle-button {
    background-color: #ddd;
    text-align: center;
    font-size: 1.2em;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    border-radius: 0.5em;
    border: none;
    /*margin: 0.6rem 0.4rem 0.4rem 0.4em;*/
    padding: 0.2em;
}

.db-puzzle-button:active {
    transform: translate(0.2rem, 0.2rem);
}

/*======================================*/
/* Print */
/*======================================*/
.print-content {
    display: none;
}

/* ========================================*/


.dlg-header-plus-rotator {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    height: 4.6em;

    font-size: 1.8em;
    font-weight: bold;
    /*  text-align: center;
    place-items: center; */
    padding: 0.5em;
    background-color: gray;
    color: white;
    border-radius: 0.6em;

}

.dlg-new-puzzle-header {
    font-size: var(--font-size-lg);
    font-weight: bold;
    padding-left: 1em;
}

#loader-new-puzzle {
    display: block;
    position: absolute;
    right: 5%;
    z-index: 2;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border-top: 0.4rem solid gray;
    border-bottom: 0.4rem solid white;
    border-right: 0.4rem solid white;
    border-left: 0.4rem solid white;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader,
#loader-db {
    display: none;
    position: absolute;
    top: 24%;
    left: 25%;
    z-index: 2;
    width: 20em;
    height: 20em;
    border: 4.8rem solid #fbf9f900;
    border-radius: 50%;
    border-top: 4.8rem solid var(--defined-cell-bg-color);
    border-bottom: 4.8rem solid black;
    border-right: 4.8rem solid var(--played-cell-bg-color);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}


#search-level,
#loader-db-info {
    margin-top: 3em;
    width: 15em;
    padding: 1em;
    font-size: var(--font-size-lg);
    color: black;
    background-color: white;
}

#puzzle-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    text-align: center;
    z-index: 2;
    font-weight: normal;
    background-color: var(--played-cell-bg-color);
    color: var(--played-cell-color);
    border: 0.4rem solid dimgray;
    padding: 2em;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/*======================================*/
/* Global block */
/*======================================*/
.zoom-in {
    animation: zoom-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes zoom-in {
    0% {
        transform: scale(3);
    }

    100% {
        transform: scale(1);
    }
}

.cell-err {
    animation: zoom-out-shake 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


@keyframes zoom-out-shake {
    0% {
        transform: scale(2);
    }

    25% {
        transform: scale(2) rotate(30deg);
    }

    50% {
        transform: scale(2) rotate(-30deg);
    }

    100% {
        transform: scale(1);
    }
}


.tableFixHead {
    /* make the table scrollable if height is more than 200 px */
    height: 40em;
}



/* ============================================================*/

/* @media screen and (orientation: landscape) and (width >=768px) and (height > 500px) { */
@media screen and (orientation: landscape) and (width >=768px) and (height > 500px) {
    .sudoku-solver-container {
        display: flex;
        flex-direction: row;
        gap: 1em;
        font-size: 0.8em;
    }

    .grid-area {
        width: 50%;
    }

    .btn-block {
        width: 50%;
        font-size: 0.8em;
    }
}

/* Change styles for cancel button and delete button on extra small screens */

@media screen and (orientation: portrait) and (width < 430px) {

    .sudoku-solver-container {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        font-size: 1.5em;
    }

    .grid-area {
        font-size: 1.5em;
        width: 100%;
    }

    .btn-block {
        font-size: 1.5em;
        width: 100%;
    }

}

/*

@media screen and (orientation: portrait) and (width < 480px) and (height <=700px) {

    /* case 2 */
/* Portrait */
/* iPhone SE (2022): 375 x 667 

    .sudoku-solver-container {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .sidenav a,
    .dropdown-btn {
        padding: 0.8rem 0.8rem 0.8rem 2.4em;
        font-size: 2.6em;
    }

    .trackerDlg {
        width: 95vw;
        margin-left: auto;
        margin-right: auto;
    }

    .tracker-dlg-btn {
        font-size: 1.6em;
    }

}

@media screen and (orientation: portrait) and (width >=480px) {

    /* case 3*/
/* portrait 

    .sudoku-solver-container {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .trackerDlg {
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
    }

    .tableFixHead {
        /* make the table scrollable if height is more than 200 px  
        height: 40em;
    }

}


@media screen and (width >=480px) and (height < 500px) {

    /* Case 4 */
/* Landscape */
/* Galaxy S10: 360px * 760px */
/* iPhone SE (2022): 375 x 667 

    .sudoku-solver-container {
        display: flex;
        flex-direction: row;
        gap: 1em;
    }

    .trackerDlg {
        width: 35vw;
        margin-left: auto;
        margin-right: auto;
    }

    .tableFixHead {
        /* make the table scrollable if height is more than 200 px  
        height: 40em;
    }
}


@media screen and (orientation: landscape) and (width >=768px) and (height > 500px) {
    /* case 5 */
/* Landscape */
/* Galaxy S20 Ultra: 412px * 915px */
/* iPhone 14: 380 x 844 


    .sudoku-solver-container {
        display: flex;
        flex-direction: row;
        gap: 1em;
    }

    .trackerDlg {
        width: calc(min(90vw, 800px) /2);
        margin-left: auto;
        margin-right: auto;
    }

    .tableFixHead {
        /* make the table scrollable if height is more than 200 px  
        height: 30em;
    }
}*/