:root {
    /* app colors */
    /*    --screen-bg-color: white; */
    --screen-bg-color: #f5f5f5;
    --screen-color: #0d1117;

    --delete-btn-bg-color: #e91e63;
    --delete-btn-color: white;

    /* Cell colors */
    --defined-cell-bg-color: #7986CB;
    --defined-cell-color: #FFF9C4;

    --played-cell-bg-color: #4DB6AC;
    --played-cell-color: #0d1117;

    --nested-cell-bg-color: #ebdaa4;
    --nested-cell-color: black;

    --error-cell-bg-color: hsl(340, 82%, 52%);
    --error-cell-color: white;

    --hover-magenta-cell-border-color: Magenta;


    /*
Farbschema generiert auf 
https://www.webmart.de/web/harmonische-farben#696969:t:d:g:d 
*/
    /* Kontraste: */
    --myColor-1: #ff0000;
    /* Red */
    --myColor-2: #b30000;
    /* Bright Red */
    --myColor-3: #ffbfbf;
    /* Your Pink */
    --myColor-4: #ff8080;
    /* Vivid Tangerine */

    --myColor-5: #00cc00;
    /* Green */
    --myColor-6: #008f00;
    /* Japanese Laurel */
    --myColor-7: #bfffbf;
    /* Snowy Mint */
    --myColor-8: #80ff80;
    /* Mint Green */
    --myColor-9: #0066b3;
    /* Endeavour */
    --myColor-10: #00487d;
    /* Congress Blue */
    --myColor-11: #bfe4ff;
    /* French Pass */
    --myColor-12: #80c9ff;
    /* Malibu */

    --myColor-13: #ff8000;
    /* Flush Orange */
    --myColor-14: #b35a00;
    /* Rose of Sharon */
    --myColor-15: #ffdfbf;
    /* Negroni */
    --myColor-16: #ffc080;
    /* Macaroni and Cheese */

    --manual-solver: #040273;
    /* deepblue */
    --automatic-solver: #410200;
    /* deepbrown */
    --app-header-bg-color: #404040;
    /*  */

}



* {
    padding: 0;
    margin: 0;
    /* padding and border are included in the width and height */
    box-sizing: border-box;
}

/* Set height of body and the document to 100% */
html {
    font-size: 16px;
    /* background: lightgrey; */
    background-color: var(--screen-bg-color);
}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    /* Grey 100 */
}


button,
a {
    cursor: pointer;
    /* wichtig für iOS Safari */
}


/* Fallback :active für Desktop */
button:active {
    transform: translate(0.2rem, 0.2rem);
    background-color: #ddd;
    /* Beispiel: Hellt den Hintergrund auf */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    /* Beispiel: Erzeugt einen Eintrungseffekt */
}

/* Klasse für Mobile (über JS gesetzt) */
.active {
    transform: translate(0.2rem, 0.2rem);
    background-color: #ddd;
    /* Beispiel: Hellt den Hintergrund auf */
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    /* Beispiel: Erzeugt einen Eintrungseffekt */
}

.app-content {
    position: relative;
    max-width: 768px;
    background: var(--screen-bg-color);
    padding: 0.2rem;
    margin: 0 auto;
}

/* ********** App-header ***************************/

.app-name-header,
.db-puzzle-header {
    width: 100%;
    display: grid;
    place-items: center;
    position: relative;
    height: 2.8rem;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: var(--app-header-bg-color);
    color: white;
}

.tracker-dlg-header,
.manual-solver-header {
    /* margin-bottom: 0.2rem;*/
    width: 100%;
    /* height: 1.8rem; */
    display: grid;
    place-items: center;
    position: relative;
    height: 2.4rem;
    /* line-height: 1.8rem; */
    vertical-align: center;

    font-weight: bold;
    font-size: 1.2rem;
}

.tracker-dlg-header {
    /* margin-top: 0.4rem; */
    background-color: var(--automatic-solver);
    color: white;

}

.manual-solver-header {
    /* margin-top: 0.4rem; */
    background-color: var(--manual-solver);
    color: white;
}


.tracker-dlg-header>span,
.manual-solver-header>span {
    width: 100%;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.btn-undo-offset {
    color: white;
}

/*======================================*/
/* Global definitions */
/*======================================*/




/*=======================================*/
/* Navbar */
/*=======================================*/


.sidenav {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 4rem;
}

.sidenav a {
    padding: 1rem 1rem 1rem 1.6rem;
    text-decoration: none;
    font-size: 1.8rem;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 1.56rem;
    font-size: 2.25rem;
    margin-left: 3.1rem;
}


/*=====================================*/


#appVersion {
    margin-top: 2rem;
    margin-left: 1rem;
    color: white;
}

#share-app-btn {
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 0.4rem;
}

.share-imageURL {
    margin-right: 1rem;
}

/*=====================================================*/
/* Side Navigation */
/*=====================================================*/

/**************************************/

/* Dropdown container (hidden by default). Optional: add a lighter background color 
   and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 0.8rem;
}

/* Optional: Style the caret down icon */

.fa-caret-down,
.no-caret {
    float: right;
    padding-right: 0.8em;
}

#caret-down-img,
#no-caret-img {
    width: 0.4rem;
    height: 0.4rem;
}



/*=======================================================*/



/*==============================================*/

.main-sudoku-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.3rem;
    aspect-ratio: 1 / 1;
    background: #646566;
    touch-action: pinch-zoom;
}

.sudoku-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.1rem;
    font-size: 1.6rem;
    line-height: 1;
    text-align: center;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(167, 218, 164, 0.708);
    /* Weiß, 60% Deckkraft */
    backdrop-filter: blur(6px);
    /* Milchiger Effekt */
    z-index: 5;
    pointer-events: none;
    /* Klicks gehen durch */
    border-radius: inherit;
}


.sudoku-grid-cell {
    /* background-color: #fff;*/
    position: relative;

    background-color: #dadedf;
    /* sehr helles Grau, fast weiß */

    color: #222;
    font-size: 1.6rem;
    transition: background 0.2s, box-shadow 0.2s, border 0.2s;
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03); */
    user-select: none;
    cursor: pointer;
    display: grid;
    place-items: center;
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;

}

.sudoku-grid-cell {
    background-color: var(--nested-cell-bg-color);
    color: var(--nested-cell-color);
}

.sudoku-grid-cell.solved {
    background-color: var(--played-cell-bg-color);
    color: var(--played-cell-color);

}

.sudoku-grid-cell.given {
    background-color: var(--defined-cell-bg-color);
    color: var(--defined-cell-color);
}

.sudoku-grid-cell.candidates {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
}


.sudoku-grid-cell.selected {
    background-color: rgb(126, 126, 126);
}

.sudoku-grid-cell.auto-selected {
    background-color: black;
}

.candidate {
    font-size: 0.7rem;
    color: black;
}

.sudoku-grid-cell.selected.solved,
.sudoku-grid-cell.auto-selected.solved {
    font-size: 1.6rem;
    color: white;
    font-weight: bold;
}

.sudoku-grid-cell.selected>.candidate,
.sudoku-grid-cell.auto-selected>.candidate {
    font-size: 0.7rem;
    color: white;
    font-weight: bold;

}

.special-candidate.necessary {
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
    background-color: var(--played-cell-bg-color);
    padding: 0.1rem;
}


.special-candidate.single {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    font-weight: bold;
    background-color: grey;
    padding: 0.2rem;
}


.candidate.inAdmissible {
    font-weight: bold;
    color: white;
    background-color: red;
    padding: 0.16rem;
}

.candidate.necessary {
    font-weight: bold;
    color: white;
    background-color: green;
    padding: 0.16rem;
}

.candidate.single,
.candidate.hidden-single {
    font-weight: bold;
    color: white;
    font-weight: bold;
    background-color: black;
    padding: 0.2rem;
}

.sudoku-grid-cell.row-selected,
.sudoku-grid-cell.col-selected,
.sudoku-grid-cell.block-selected {
    background: #f5faff;
}

.sudoku-grid-cell.error {
    color: #d32f2f;
    border: 2px solid #d32f2f;
    background: #fff5f5;
}

/*======================================*/
/* Sudoku grid block */
/*======================================*/

.mainLoading {
    animation: zoom-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.sudoku-grid-cell.hover {
    border: 0.2rem solid var(--hover-magenta-cell-border-color);
}

.sudoku-grid-cell.hover-magenta {
    border: 0.3rem double var(--hover-magenta-cell-border-color);
}

.sudoku-grid-cell.hover-green {
    border: 0.3rem double green;
}

.sudoku-grid-cell.hover-white,
.sudoku-grid-cell.col-err.hover-white,
.sudoku-grid-cell.row-err.hover-white,
.sudoku-grid-cell.block-err.hover-white {
    border: 0.2rem dashed white;
}

.sudoku-grid-cell.hover-white-solid {
    border: 0.2rem solid white;
}


.sudoku-grid-cell.hover-black {
    border: 0.2rem dashed black;
}


.sudoku-block.err {
    border: 0.1rem solid var(--error-cell-bg-color);
}

.sudoku-grid-cell.block-err {
    border: 0.1rem solid var(--error-cell-bg-color);
}


.sudoku-grid-cell.col-err {
    border-top: 0.1rem solid var(--error-cell-bg-color);
    border-bottom: 0.1rem solid var(--error-cell-bg-color);
    border-left: 0.2rem solid var(--error-cell-bg-color);
    border-right: 0.2rem solid var(--error-cell-bg-color);
}

.sudoku-grid-cell.row-err {
    border-left: 0.1rem solid var(--error-cell-bg-color);
    border-right: 0.1rem solid var(--error-cell-bg-color);
    border-top: 0.2rem solid var(--error-cell-bg-color);
    border-bottom: 0.2rem solid var(--error-cell-bg-color);
}

.sudoku-grid-cell.err,
.sudoku-grid-cell.wrong {
    /* background-color: var(--error-cell-bg-color); 
    color: var(--error-cell-color); */
    border: 0.4rem solid Crimson;
}

.sudoku-grid-cell.err.selected {
    background-color: black;
}


.loaded-evaluations {
    display: flex;
    padding: 0.6rem 0.6rem;
    background-color: lightgrey;
    font-size: 0.8rem;
}

.pz-name {
    text-align: left;
    width: 30rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pz-level {
    text-align: right;
    width: 100%;
}


.step-explainer {
    margin-bottom: 0.2rem;
    width: 100%;
    display: grid;
    place-items: center;
    position: relative;
    height: 2rem;
    background-color: lightgrey;
}

.step-explainer-text {
    font-size: 0.8rem;
    position: absolute;
    left: 0.6rem;
    width: 80%;
}

/*
.step-explainer-text>span  {
    font-weight: bold;
}
*/
#tipp-accept-btn {
    background: var(--played-cell-bg-color);
    background: linear-gradient(95deg, #a5ed8d 0%, #07c025 100%);
    position: absolute;
    right: 0.2rem;
    border-radius: 0.4rem;
    font-size: 0.6rem;
    padding-top: 0.1rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-bottom: 0.1rem;

    border: none;
    border-radius: 0.3rem;
    font-weight: 600;
    box-shadow: 0 2px 8px rgba(120, 120, 120, 0.10);
    cursor: pointer;
    transition: background 0.2s, box-shadow 0.2s, transform 0.1s;

}


.step-explainer-text.red {
    color: Crimson;
}

/*======================================*/
/* Button block                        */
/*======================================*/

/* Buttons */

/* Tipp:
Für Flächen: background-color: #f5f5f5; (Grey 100)
Für Buttons: background: linear-gradient(90deg, #e0e0e0 0%, #bdbdbd 100%);
Für Text: color: #222; oder color: #424242;
*/

.material-icons,
.material-symbols-outlined {
    font-size: 1.4rem;
    color: black;
    /* Google-grey 300 */
    /* color: #9e9e9e; /* Google-grey 500 */
    vertical-align: middle;
}

#btn-help .material-icons,
#btn-menu .material-icons,
#btn-share .material-icons,
#btn-backtrack-stop .material-symbols-outlined,
#btn-run .material-symbols-outlined,
#btn-undo.btn-undo-off .material-icons,
#btn-redo.btn-redo-off .material-icons {
    color: white;
}



#btn-run {
    font-size: 1.2rem;
}

#btn-backtrack-stop {
    font-size: 1.2rem;
}

.modern-btn,
.db-puzzle-btn {
    display: inline-flex;
    align-items: center;
    gap: 0.2rem;
    background: linear-gradient(95deg, #dce1e9 0%, #b0b3b8 100%);
    color: #222;
    border: none;
    border-radius: 0.3rem;
    font-weight: 600;
    font-size: 0.8rem;
    box-shadow: 0 2px 8px rgba(120, 120, 120, 0.10);
    cursor: pointer;
    transition: background 0.2s, box-shadow 0.2s, transform 0.1s;

}


.modern-btn:focus {
    outline: none;
}


#btn-help {
    background: var(--app-header-bg-color);
    color: white;
    position: absolute;
    right: 0.6rem;
}

#btn-menu {
    background: var(--app-header-bg-color);
    color: white;
    position: absolute;
    left: 0.6rem;
}

#btn-share {
    background: var(--app-header-bg-color);
    color: white;
    position: absolute;
    right: 5rem;
}


#btn-backtrack-stop {
    background: var(--automatic-solver);
    color: white;
    position: absolute;
    right: 1rem;
}



#btn-run {
    background: var(--manual-solver);
    color: white;
    position: absolute;
    right: 0.8rem;
}

#manual-btn-block {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0.2rem;
    justify-items: stretch;
    align-items: stretch;
    background: var(--manual-solver);
    padding: 0.8rem;
}

#automatic-btn-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.4rem;
    justify-items: stretch;
    align-items: stretch;
    /* background: var(--screen-bg-color);*/
    background: var(--automatic-solver);
    padding: 0.4rem;

}


#manual-btn-block .modern-btn,
#automatic-btn-block .modern-btn {
    display: flex;
    font-size: 0.8rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.1rem;
    padding: 0.2rem 0.2rem;
    min-width: 0;
    min-height: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    white-space: normal;
}

.number-btn {
    font-size: 1.2rem;
}

#btn-define {
    background: var(--defined-cell-bg-color);
    color: var(--defined-cell-color);
}

#btn-play {
    background: var(--played-cell-bg-color);
    color: var(--played-cell-color);
}

.btn-define.pressed {
    /* transform: translate(0.2rem, 0.2rem); */
    border: 0.3rem solid white;
}

.btn-play.pressed {
    border: 0.3rem solid white;
}


.btn-delete-cell {
    background: var(--delete-btn-bg-color);
    color: var(--delete-btn-color);
}


#btn-pause,
#btn-stop {
    display: none;
}

#btn-run {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
}

#btn-autoStep {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
}

.btn-image {
    width: 0.8rem;
    height: 0.8rem;
}

.breakpoint-setting-image {
    width: 2.4rem;
    height: 2.4rem;
}

/*======================================*/
/* Evaluation radio buttons             */
/*======================================*/

/*======================= */

.first-label-container {
    margin-top: 0.1rem;
}

.label-container {
    margin-top: 0.1rem;
    display: inline-grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: auto;
    grid-template-areas:
        'input prefix-text'
        'empty label-text';
}

.radio-eval-type {
    grid-area: input;
    align-self: center;
    margin: 0;
}

.label-text:first-of-type {
    grid-area: prefix-text;
    align-self: center;
}

.label-text:last-of-type {
    grid-area: label-text;
}

.prefix {
    font-weight: bold;
    font-size: 0.8rem;
}

.text-spacing {
    padding-inline-start: 0.2rem;
    padding-inline-end: 0.1rem;
}

/* ======================================*/
/* Evaluation block                       */
/* ======================================*/

.pc-eval,
.play-mode,
.breakpoint-settings,
.io-technique {
    margin-top: 0.4rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.level-fieldset {
    display: flex;
    flex-direction: column;
    align-items: left;
}


.pc-floatBlock,
.breakpoint,
.puzzle-io,
.further {
    font-size: 1.0rem;
    padding: 0.4rem;
}

/* ======================================*/
/* Evaluation block                       */
/* ======================================*/
.eval-legend,
.play-mode-legend,
.breakpoints-legend,
.puzzle-io-legend {
    margin-top: 1.4rem;
    margin-left: 1.2rem;
    font-weight: bold;
    font-size: 1.4rem;
}

/*======================================*/
/* Progress box block */
/*======================================*/
.progress-block {
    font-size: 0.8rem;
    margin-top: 0.2rem;
    line-height: 1.4rem;
    display: grid;
    grid-template-columns: auto auto auto; 
    gap: 0.2rem;

}

.step-count,
.backward-count,
.max-search-depth-value {
    line-height: 1.4rem;
    height: 1.4rem;
    margin-right: 0.4rem;
    padding-left: 0.2rem;
    width: 100%;
    background: lightgray;
}

.search-path-container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin-top: 0.2rem;
    margin-bottom: 0.4rem;
    padding-right: 0.4rem;
    font-size: 0.8rem;
    background-color: lightgrey;
        height: 2.6rem;
}

.forward-backward-image {
    margin-top: 0.2rem;
    width: 1rem;
    height: 1rem;
}

#search-path-label {
    text-align: left;
    padding-left: 0.2rem;
    font-weight: bold;
}

#search-path-field {
    width: 95;
    margin-left: 0.8rem;
    margin-right: 0.4rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    overflow: auto;
    scrollbar-gutter: stable both-edges;
    font-weight: bold;
}

.cell-option {
    font-weight: bold;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.forward,
.backward {
    height: 1.4rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

.autoMode-radio-btns {
    place-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: lightgrey;
}

.forward.checked,
.backward.checked {
    background-color: var(--played-cell-bg-color);
}

#myProgress {
    position: relative;
    width: 100%;
    height: 1.4rem;
    text-align: right;
    padding-right: 0.5rem;
    background-color: var(--nested-cell-bg-color);
}

#myBarDef,
#myBarPlay {
    position: absolute;
    width: 20%;
    height: 1.4rem;
    line-height: 1.4rem;
}

#myBarDef {
    z-index: 2;
    background-color: var(--defined-cell-bg-color);
    color: white;
    text-align: center;
}

#myBarPlay {
    z-index: 1;
    background-color: var(--played-cell-bg-color);
    color: black;
    text-align: right;
}

.total-bar-value {
    line-height: 1.4rem;
    vertical-align: center;
}


.nr-of-solutions-field {
    margin-top: 0.2rem;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    background-color: lightgray;
    color: black;
    display: flex;
    justify-content: center;
    /* Horizontale Zentrierung */
    align-items: center;
    /* Vertikale Zentrierung */
    height: 2rem;
}

/*=======================================*/
/* DB-Dialog 
/*=======================================*/

.puzzle-header {
    font-size: 1.8rem;
    display: inline-block;
    color: black;
    margin-top: 1rem;
}

/* ===================================================*/
/*  Save and rename dialogs                           */
/*====================================================*/

.puzzle-dlg {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
}

.puzzle-dlg::backdrop {
    background: hsl(201 50% 40% /.5);
}

.dlg-header {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0.5rem;
    text-align: center;
}

label {
    font-size: 0.8rem;
    margin-left: 1.2rem;
    margin-bottom: 0.2rem;
}

.puzzle-name-input-dlg {
    width: 90%;
    margin-top: 0.8rem;
    margin-left: 0.8rem;
    padding: 0.2rem;
    font-size: 0.8rem;
}

.ok-cancel-btns {
    font-size: 0.8rem;
    margin: 2.4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8rem;
}

.ok-cancel-btn {

    padding-left: 0.8em;
    padding-right: 0.8em;
}

/*=======================================*/
/* Tracker-Dialog 
/*=======================================*/


.trackerDlg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
 
    /* margin: 0 auto;  */
    /* background: var(--screen-bg-color); */
}

.trackerDlg::backdrop {
    background: hsl(201 50% 40% /.1);
}

/*
.tracker-dialog-area {
    width: 100%;
       border: 0.84rem solid var(--automatic-solver);
}
*/

.technique-row {
    height: 2.2em;

    display: flex;
    flex-direction: row;
    position: relative;
}


.tracker-dlg-solution {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    place-items: center;
    /* border: 0.2rem solid DimGrey; */
    background-color: var(--played-cell-bg-color);
}


/*================


/*=======================================*/
/* Info-Dialog 
/*=======================================*/

.infoDlg::backdrop {
    background: hsl(201 50% 40% /.5);
}

.infoDlg {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 20rem;
}

.infoDlgHeader {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.4rem;
    text-align: center;
}

.infoDlgBodyRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.4rem;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

.infoDlgBody {
    font-size: 0.8rem;
    margin-left: 0.4rem;
}

.infoIcon {
    margin-left: 0.5rem;
    margin-right: 0.2rem;
    height: 3rem;
    width: 3rem;
    background-color: white;
}

.infoDlg-OK-Btn {
    font-size: 0.8rem;
    width: 6rem;
    margin-top: 0.4rem;
    /* margin-left: auto; */
    float: right;
    margin-right: 0.4rem;
    margin-bottom: 0.4rem;
}

/*=======================================*/
/* NewPuzzle-Dialog 
/*=======================================*/

.new-puzzle-dlg::backdrop {
    background: hsl(201 50% 40% /.5);
}


.new-puzzle-dlg-header {
    font-size: 1.4rem;
    font-weight: bold;

}

.level-fieldset {
    margin-top: 1rem;
}

.new-puzzle-selection-legend {
    margin-left: 0.4rem;
    font-weight: bold;
    font-size: 0.8rem;
}

.new-puzzle-icon {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    height: 2rem;
    width: 2rem;
    background-color: white;
}

#new-puzzle-ok-cancel-btns {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    gap: 1rem;
    margin-right: 1rem;
}

.new-puzzle-bar {
    position: relative;
    width: 50%;
    height: 1.rem;
    font-size: 0.8rem;
    text-align: right;
    margin-bottom: 0.6rem;
}

#very-simple-Bar,
#simple-Bar,
#medium-Bar,
#heavy-Bar,
#very-heavy-Bar,
#extreme-heavy-Bar {
    position: absolute;
    height: 1.2rem;
    line-height: 1.2rem;
    padding-right: 0.5rem;
}


#btn-new-puzzle-ok,
#btn-new-puzzle-cancel {
    text-align: center;
    font-size: 0.8rem;
}


/*=======================================*/
/* Confirm-Dialog 
/*=======================================*/

.confirm-dlg::backdrop {
    background: hsl(201 50% 40% /.5);
}

.confirm-dlg {
    width: 30rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.confirm-dlg-header {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.4rem;
    text-align: center;
}

.confirm-dlg-body {
    font-size: 0.8rem;
    margin-left: 0.4rem;
}

.confirm-icon {
    margin-left: 0.5rem;
    margin-right: 1rem;
    height: 3rem;
    width: 3rem;
    background-color: white;
}

#confirm-ok-cancel-btns {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    gap: 1rem;
    margin-right: 1rem;
}

#btn-settings-dlg-ok,
#btn-settings-dlg-cancel,
#btn-confirm-ok,
#btn-confirm-cancel {
    text-align: center;
    font-size: 0.8rem;
}

.copyFeedback-dlg {
    width: 20rem;
    height: 10rem;
    background-color: black;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.copyFeedback-dlg-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 1.6rem;
}

/*=======================================*/
/* Settings-Dialog 
/*=======================================*/

.new-puzzle-dlg {
    width: 18rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    position: absolute;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;

}

.settings-dlg {
    width: 40rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    position: absolute;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;

}

.settings-dlg::backdrop {
    background: hsl(201 50% 40% /.5);
}

.settings-dlg-area {
    display: grid;
    place-items: center;
}

#settings-ok-cancel-btns {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    gap: 1rem;
    margin-right: 1rem;
}

/*======================================*/
/*======================================*/

/* 1. Dialogebene */
.puzzle-table-dlg {
    margin: auto;
    /*max-width: 800px;*/
    max-width: 98%;
    max-height: 98%;
    border-radius: 1rem;
    border: none;
    background-color: #500;

}

#db-puzzle-dialog::backdrop {
    background: #500
}

.db-puzzle-header {
    background-color: #500;
}

#db-close-btn {
    position: absolute;
    right: 1%;
    color: white;
    font-size: 1.4rem;
}



.tableFixHead {
    overflow-y: auto;
    /* make the table scrollable if height is more than 200 px  */
    height: 20rem;
    /* gives an initial height of 200px to the table */
}

.db-puzzle-table {
    border-collapse: collapse;
    /* make the table borders collapse to each other */
    width: 100%;
}

.tableFixHead thead th {
    position: sticky;
    /* make the table heads sticky */
    top: 0;
    /* table head will be placed from the top of the table and sticks to it */
}

.tableFixHead {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

.db-puzzle-table th,
.db-puzzle-table td {
    font-size: 0.8rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    border: 0.1rem solid #ccc;
}

.db-puzzle-table th {
    /* background: #eee; */
    background: #818181;
    color: white;
}

#col-status-given,
#col-status-solved,
#col-status-open,
#col-backTracks,
#col-countSolutions {
    writing-mode: vertical-rl;
    padding: 0.6rem;
}

#col-status-given {
    background-color: var(--defined-cell-bg-color);
    color: white;
}

#col-status-solved {
    background-color: var(--played-cell-bg-color);
    color: black;
}

#col-status-open {
    background-color: var(--nested-cell-bg-color);
    color: black;
}


.db-puzzle-tbody tr td {
    background-color: #ddd;
}

.db-puzzle-tbody tr.selected td {
    background-color: lightcyan;
}


.container-puzzle-buttons {
    background-color: #500;
    margin: 0 auto;
}

.db-puzzle-btns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.2rem;

    margin-top: 1rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
    margin-left: 3rem;

    background-color: #500;
}

.db-puzzle-button {
    background-color: #ddd;
    text-align: center;
    font-size: 0.8rem;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    border-radius: 0.5rem;
    border: none;
    padding: 0.2rem;
}

.db-puzzle-root {
    width: calc(min(98vw, 820px));
    background-color: #500;
}

/*======================================*/
/* Print */
/*======================================*/
.print-content {
    display: none;
}

/* ========================================*/


.dlg-header-plus-rotator {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    height: 2.6rem;

    font-size: 1.8rem;
    font-weight: bold;
    /*  text-align: center;
    place-items: center; */
    padding: 0.5rem;
    background-color: gray;
    color: white;
    border-radius: 0.6rem;

}

.dlg-new-puzzle-header {
    font-size: 1rem;
    font-weight: bold;
    padding-left: 0.2rem;
}

#loader-new-puzzle {
    display: block;
    position: absolute;
    right: 5%;
    z-index: 2;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border-top: 0.4rem solid gray;
    border-bottom: 0.4rem solid white;
    border-right: 0.4rem solid white;
    border-left: 0.4rem solid white;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#search-level,
#loader-db-info {
    margin-top: 1rem;
    width: 6rem;
    padding: 0.2rem;
    font-size: 0.8rem;
    color: black;
    background-color: white;
}

#puzzle-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    text-align: center;
    z-index: 2;
    font-weight: normal;
    background-color: var(--played-cell-bg-color);
    color: var(--played-cell-color);
    border: 0.4rem solid dimgray;
    padding: 2rem;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/*======================================*/
/* Global block */
/*======================================*/
.zoom-in {
    animation: zoom-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes zoom-in {
    0% {
        transform: scale(3);
    }

    100% {
        transform: scale(1);
    }
}

.cell-err {
    animation: zoom-out-shake 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


@keyframes zoom-out-shake {
    0% {
        transform: scale(2);
    }

    25% {
        transform: scale(2) rotate(30deg);
    }

    50% {
        transform: scale(2) rotate(-30deg);
    }

    100% {
        transform: scale(1);
    }
}


@media screen and (orientation: landscape) and (width >=768px) and (height > 500px) {
    /* case 5 */
    /* Landscape */
    /* Galaxy S20 Ultra: 412px * 915px */
    /* iPhone 14: 380 x 844 */

    html {
        font-size: 14px;
    }

    .empty-display {
        display: none;
    }

    .app-content {
        width: calc(min(98vw, 900px));
        margin: 0 auto;
    }

    .sudoku-solver-container {
        display: flex;
        flex-direction: row;
        gap: 0.4rem;
    }

    .grid-area {
        width: 50%;
    }

    .btn-block {
        position: relative;
        width: 50%;
    }


    #loader,
    #loader-db {
        display: none;
        position: absolute;
        top: 31%;
        left: 15%;
        z-index: 2;
        width: 10rem;
        height: 10rem;
        border: 2.8rem solid #fbf9f900;
        border-radius: 50%;
        border-top: 2.8rem solid var(--defined-cell-bg-color);
        border-bottom: 2.8rem solid black;
        border-right: 2.8rem solid var(--played-cell-bg-color);
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    .sidenav a {
        font-size: 1.2rem;
    }

}


@media screen and (width >=480px) and (height < 500px) {

    /* Case 4 */
    /* Landscape */
    /* Galaxy S10: 360px * 760px */
    /* iPhone SE (2022): 375 x 667 */

    html {
        font-size: 11px;
    }

    .app-content {
        position: relative;
        width: 60%;
        margin: 0 auto;
    }

    .sudoku-solver-container {
        display: flex;
        flex-direction: row;
        gap: 0.2rem;
    }

    .empty-display {
        display: block;
    }

    .grid-area {
        width: 50%;
    }

    .btn-block {
        position: relative;
        width: 50%;
    }


    #loader,
    #loader-db {
        display: none;
        position: absolute;
        top: 31%;
        left: 15%;
        z-index: 2;
        width: 10rem;
        height: 10rem;
        border: 2.8rem solid #fbf9f900;
        border-radius: 50%;
        border-top: 2.8rem solid var(--defined-cell-bg-color);
        border-bottom: 2.8rem solid black;
        border-right: 2.8rem solid var(--played-cell-bg-color);
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    .sidenav a {
        font-size: 1.2rem;
    }

}



@media screen and (orientation: portrait) and (width >=480px) {

    /* case 3*/
    /* portrait */
    html {
        font-size: 25px;
    }

    .app-content {
        width: calc(min(98vw, 800px));
        margin: 0 auto;
    }


    .empty-display {
        display: none;
    }

    .sudoku-solver-container {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
    }

    .grid-area {
        width: 100%;
    }

    .btn-block {
        position: relative;
        width: 100%;
    }

    .tableFixHead {
        /* make the table scrollable if height is more than 200 px  */
        height: 25rem;
    }

    .puzzle-table-dlg {
        margin: auto;
        width: 100%;
        height: 100%;
        border: none;
        background-color: #500;

    }

    #loader,
    #loader-db {
        display: none;
        position: absolute;
        top: 26%;
        left: 30%;
        z-index: 2;
        width: 10rem;
        height: 10rem;
        border: 2.8rem solid #fbf9f900;
        border-radius: 50%;
        border-top: 2.8rem solid var(--defined-cell-bg-color);
        border-bottom: 2.8rem solid black;
        border-right: 2.8rem solid var(--played-cell-bg-color);
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
}


@media screen and (orientation: portrait) and (width < 480px) {

    /* case 1 */
    /* Portrait */
    /* Galaxy S10: 360px * 760px */
    /* Galaxy S20 Ultra: 412px x 915px*/
    /* iPhone 14: 380 x 844 */
    html {
        font-size: 14px;
        background: var(--screen-bg-color);
    }

    .empty-display {
        display: none;
    }

    .app-content {
        width: 100vw;
    }

    .sudoku-solver-container {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
    }

    .grid-area {
        width: 100%;
    }

    .btn-block {
        position: relative;
        width: 100%;
    }

    .tableFixHead {
        /* make the table scrollable if height is more than 200 px  */
        height: 40rem;
    }

    .puzzle-table-dlg {
        margin: auto;
        width: 100%;
        height: 100%;
        border: none;
        background-color: #500;

    }

    #loader,
    #loader-db {
        display: none;
        position: absolute;
        top: 26%;
        left: 39%;
        z-index: 2;
        width: 10rem;
        height: 10rem;
        border: 2.8rem solid #fbf9f900;
        border-radius: 50%;
        border-top: 2.8rem solid var(--defined-cell-bg-color);
        border-bottom: 2.8rem solid black;
        border-right: 2.8rem solid var(--played-cell-bg-color);
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

}



@media screen and (orientation: portrait) and (width < 480px) and (height <=700px) {

    /* case 2 */
    /* Portrait */
    /* iPhone SE (2022): 375 x 667*/
    html {
        font-size: 11px;
        background: var(--screen-bg-color);
    }

    .empty-display {
        display: none;
    }

    .app-content {
        width: 100%;
    }

    .sudoku-solver-container {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
    }

    .grid-area {
        width: 100%;
    }

    .btn-block {
        position: relative;
        width: 100%;
    }

    .tableFixHead {
        /* make the table scrollable if height is more than 200 px  */
        height: 40rem;
    }

    .puzzle-table-dlg {
        margin: auto;
        width: 100%;
        height: 100%;
        border: none;
        background-color: #500;
    }

    #loader,
    #loader-db {
        display: none;
        position: absolute;
        top: 26%;
        left: 30%;
        z-index: 2;
        width: 10rem;
        height: 10rem;
        border: 2.8rem solid #fbf9f900;
        border-radius: 50%;
        border-top: 2.8rem solid var(--defined-cell-bg-color);
        border-bottom: 2.8rem solid black;
        border-right: 2.8rem solid var(--played-cell-bg-color);
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

}