:root {
    /* app colors */
    /*    --screen-bg-color: white; */
    --screen-bg-color: #F2E2F2;
    --screen-color: #0d1117;
    --standard-btn-bg-color: rgba(0, 0, 0, .25);
    --standard-btn-color: black;
    --standard-btn-height: 2rem;
    --delete-btn-bg-color: #e91e63;
    --delete-btn-color: white;

    --help-color: #4e67c8;

    /* Cell colors */
    --defined-cell-bg-color: #7986CB;
    --defined-cell-color: #FFF9C4;

    --played-cell-bg-color: #4DB6AC;
    --played-cell-color: #0d1117;

    --nested-cell-bg-color: #ebdaa4;
    --nested-cell-color: black;

    --selected-cell-bg-color: black;
    --selected-cell-color: white;
    --selected-cell-border-color: Magenta;




    --error-cell-bg-color: #e91e63;
    --error-cell-color: white;

    /* Other definitions */
    --sudoku-cell-size: calc((100vw - 3.8rem)/9);
    --border-radius: 0.5rem;

    --font-size-cell: 1.6rem;

    --font-size: 1.2rem;
    --font-size-lg: 1.4rem;
    --font-size-xl: 1.8rem;

    /* Setting the global font size */
    /* Prozent von der Browser Font-Einstellung */
    font-size: 62.5%;
    /* Effekt: 1rem = 10px */
}

* {
    padding: 0;
    margin: 0;
    /* padding and border are included in the width and height */
    box-sizing: border-box;
}

/* Set height of body and the document to 100% */
body,

html {
    font-family: 'Open Sans', sans-serif;
    height: 100dvh;
    width: 100dvw;
    background-color: var(--screen-bg-color);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

/*======================================*/
/* Global definitions */
/*======================================*/


.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 0.1rem dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 7rem;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 0.6rem;
    padding: 0.5rem 0;
    top: -3rem;
    left: 50%;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.navbar-element {
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 1.2rem;
    color: white;
}

#appVersion {
    margin-top: 3rem;
}

#share-app-btn {
    padding: 0.4rem;
    border: 0.6rem solid grey;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 1.2rem;
    display: grid;
    grid-template-columns: 0.4fr 1.2fr 0.1fr;
    text-align: center;
    place-items: center;
}

.share-imageURL {
    margin-right: 5rem;
}

/*=====================================================*/
/* Side Navigation */
/*=====================================================*/


.sidenav {
    height: 95vh;
    width: 0;
    position: fixed;
    z-index: 3;
    /* top: 0;
    left: 0; */
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 1rem;
}


.sidenav a,
.dropdown-btn {
    padding: 0.8rem 0.8rem 0.8rem 2.4rem;
    text-decoration: none;
    font-size: 2.4rem;
    color: white;
    display: block;

    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.closebtn {
    text-align: right;
    padding: 0.8rem;
    text-decoration: none;
    font-size: 4rem;
    color: white;
    display: block;
    border: none;
    background: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    margin-bottom: 2rem;
}

/* Hover not possible on touch devices */

.sidenav a:active,
.dropdown-btn:active {
    color: white;
}

.closebtn:active {
    color: white;
}

/**************************************/

.active {
    background-color: green;
    color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color 
   and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 1.8rem;
}

/* Optional: Style the caret down icon */

.fa-caret-down,
.no-caret {
    float: right;
    padding-right: 0.8rem;
}

#caret-down-img,
#no-caret-img {
    width: 2.4rem;
    height: 2.4rem;
}



/*=======================================================*/

.app-container {
    margin-left: auto;
    margin-right: auto;
}


.app-content {
    display: block;
}

/* App-header */

.app-empty-footer {
    display: none;
}

.app-name-header,
.db-puzzle-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    height: 4.6rem;

    font-size: 1.8rem;
    font-weight: bold;
    /*  text-align: center;
    place-items: center; */
    padding: 0.5rem;
    background-color: DimGray;
    color: white;
    border-radius: 0.6rem;
}

.app-name-header>span,
.db-puzzle-header>span {
    padding: 0.3rem;
}


#help-button {
    width: 3.8rem;
    left: 0.6rem;
    position: absolute;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    margin-left: 0.9rem;
    margin-right: 0.9rem;

    font-weight: bold;
    font-size: var(--font-size-lg);
    background-color: white;
    border-radius: 0.6rem;
    border: 0;
}

.title {
    position: absolute;
    left: 34%;
}

.share-icon {
    position: absolute;
    left: 22%
}

#db-close-btn {
    position: absolute;
    right: 1%
}

.menu-icon {
    position: absolute;
    right: 1.2rem;
}

.menu-icon-line {
    width: 2.2rem;
    height: 0.3rem;
    background-color: white;
    margin: 0.3rem 0;
}

.menu-icon:active,
.share-icon:active {
    transform: translate(0.2rem, 0.2rem);
}


/*==============================================*/


.sudoku-solver-container {
    display: block;
    /* gap: 0.5rem; */
}

/*======================================*/
/* Sudoku grid block */
/*======================================*/

.gridArea {
    /* display: grid;
    grid-template-columns: repeat(1, auto);*/
    display: block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-bottom: 0.5rem;
    /* border-bottom: 0.2rem solid gray; */
}

.main-sudoku-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    background-color: black;
    margin: 0.1rem;
}

.mainLoading {
    animation: zoom-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.grid-plus-explainer {
    position: relative;
    border: 0.1rem solid black;
    height: fit-content;
}

.sudoku-block {
    margin: 0.2rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
    place-items: center;
}

.sudoku-grid-cell {
    position: relative;
    height: var(--sudoku-cell-size);
    width: var(--sudoku-cell-size);
    display: grid;
    font-size: 1.6rem;
    place-items: center;
    margin: 0.05rem;
}

.sudoku-grid-cell.define {
    background-color: var(--defined-cell-bg-color);
    color: var(--defined-cell-color);
}

.sudoku-grid-cell.play {
    background-color: var(--played-cell-bg-color);
    color: var(--played-cell-color);
}

.sudoku-grid-cell.nested {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    font-size: 1.0rem;
    background-color: var(--nested-cell-bg-color);
    color: var(--nested-cell-color);
}


.sudoku-grid-cell.selected {
    background-color: #f39795fb;
    border: 0.2rem solid white;
}

.sudoku-grid-cell.auto-selected {
    /*  background-image: url("../images/selectBG1.png");*/
    background-color: hsl(0, 67%, 84%);
    border: 0.2rem solid white;
}

.nested>div.single {
    font-weight: bold;
    font-size: 1.4rem;
}

.nested>div.neccessary {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;

    border-radius: 0.3rem;
    font-size: 1.2rem;
    background-color: #56c7aa;
    color: #0d1117;
    border: 0.1rem solid white;
}

.nested>div.neccessary-big {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;

    border-radius: 0.3rem;
    font-size: 1.4rem;
    background-color: #56c7aa;
    color: #0d1117;
    border: 0.1rem solid white;
}


.nested>div.indirect-neccessary {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;

    border-radius: 0.3rem;
    font-size: 1.2rem;
    background-color: #56c7aa;
    color: #0d1117;
    border: 0.1rem solid white;
}

.nested>div.inAdmissible {
    font-weight: bold;
    font-size: 1.4rem;
    color: Crimson;
}

.nested.err>div.neccessary.inAdmissible {
    background-color: #56c7aa;
}


.sudoku-grid-cell.hover {
    border: 0.2rem solid var(--selected-cell-border-color);
}

.sudoku-grid-cell.hover-red {
    border: 0.3rem dashed Magenta;
}

.sudoku-grid-cell.hover-green {
    border: 0.3rem dashed green;
}

.sudoku-grid-cell.hover-white {
    border: 0.3rem dashed white;
}

.sudoku-grid-cell.hover-black {
    border: 0.3rem dashed black;
}


.sudoku-block.err {
    background-color: var(--error-cell-bg-color);
    color: var(--error-cell-color);
}

.sudoku-grid-cell.row-err,
.sudoku-grid-cell.col-err {
    border: 0.3rem solid var(--error-cell-bg-color);
}

.sudoku-grid-cell.col-err {
    border-top: 0.2rem solid var(--error-cell-bg-color);
    border-bottom: 0.2rem solid var(--error-cell-bg-color);
}

.sudoku-grid-cell.row-err {
    border-left: 0.2rem solid var(--error-cell-bg-color);
    border-right: 0.2rem solid var(--error-cell-bg-color);
}

.sudoku-grid-cell.err,
.sudoku-grid-cell.wrong {
    /* background-color: var(--error-cell-bg-color); 
    color: var(--error-cell-color); */
    border: 0.4rem solid Crimson;
}

.sudoku-grid-cell.err.selected {
    background-color: black;
}

.loaded-evaluations {
    font-size: var(--font-size);
    display: flex;
    padding: 0.3rem 0.3rem;
    margin-bottom: 0.5rem;
}

.pz-name {
    text-align: left;
    width: 100%;
}

.pz-level {
    text-align: right;
    width: 100%;
}


.technique,
.reasonUnsolvability {
    height: 1.8rem;
    font-size: var(--font-size);
    display: flex;
    padding-top: 0.3rem;
    padding-left: 0.2rem;
    padding-bottom: 0.3rem;
    /* border: 0.1rem solid black; */
    background-color: lightgrey;
}

.reasonUnsolvability {
    color: Crimson;
}

/*======================================*/
/* Button container                  */
/*======================================*/
.orientation {
    position: relative;

}

.mobile-btn-container {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0.4rem;
}


.mobile-btn {
    background-color: var(--standard-btn-bg-color);
    text-align: center;
    border-radius: 0.3rem;
    font-size: var(--font-size-lg);
    border: none;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr;
    place-items: center;
    padding: 0.4rem;
}

.mobile-number {
    font-size: var(--font-size-xl);
}

.btn-undo-off>img,
.btn-redo-off>img {
    opacity: 0.3;
}

.btn-define {
    background-color: var(--defined-cell-bg-color);
    color: var(--defined-cell-color);
}

.btn-play {
    background-color: var(--played-cell-bg-color);
}

.btn-define.pressed {
    /* transform: translate(0.2rem, 0.2rem); */
    border: 0.3rem solid darkblue;
}

.btn-play.pressed {
    border: 0.3rem solid darkgreen;
}


.mobile-btn:active {
    transform: translate(0.2rem, 0.2rem);
}

.btn:active {
    transform: translate(0.2rem, 0.2rem);
}

.btn-delete-cell {
    background-color: var(--delete-btn-bg-color);
    color: var(--delete-btn-color);
}

#btn-pause,
#btn-stop {
    display: none;
}

#btn-run {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
}

#btn-autoStep {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
}

.btn-image {
    width: 1.8rem;
    height: 1.8rem;
}

.breakpoint-setting-image {
    width: 2.4rem;
    height: 2.4rem;
}

/*======================================*/
/* Evaluation radio buttons             */
/*======================================*/

/*======================= */

.first-label-container {
    margin-top: 1rem;
}

.label-container {
    display: inline-grid;
    grid-template-columns: auto 1fr;
    grid-auto-rows: auto;
    grid-template-areas:
        'input prefix-text'
        'empty label-text';
}

.radio-eval-type {
    grid-area: input;
    align-self: center;
    margin: 0;
}

.label-text:first-of-type {
    grid-area: prefix-text;
    align-self: center;
}

.label-text:last-of-type {
    grid-area: label-text;
}

.prefix {
    font-weight: bold;
    font-size: 1.2rem;
}

.text-spacing {
    padding-inline-start: 0.6rem;
    padding-inline-end: 0.3rem;
}

/*======================= */


.eval-btn-block {
    margin-top: 1rem;
    font-size: 1.2rem;
}

/* ======================================*/
/* Evaluation block                       */
/* ======================================*/


.pc-eval,
.play-mode,
.breakpoint-settings,
.io-technique {
    margin-top: 0.2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.level-fieldset {
    display: flex;
    flex-direction: column;
    align-items: left;
}


.pc-floatBlock,
.breakpoint,
.puzzle-io,
.further {
    font-size: 1.0rem;
    padding: 0.4rem;
}

/* ======================================*/
/* Evaluation block                       */
/* ======================================*/
.eval-legend,
.play-mode-legend,
.breakpoints-legend,
.puzzle-io-legend {
    margin-top: 1.2rem;
    margin-left: 1.2rem;
    font-weight: bold;
    font-size: var(--font-size-lg);
}

/*======================================*/
/* Progress block */
/*======================================*/

.progress-box {
    /* border-bottom: 0.3rem solid #0d1117; */
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    color: var(--screen-color);
    font-size: var(--font-size);
}

.progress-block {
    margin-top: 0.5rem;
    line-height: 1.6rem;
    display: grid;
    grid-template-columns: 1.2fr 0.2fr 0.8fr;
    gap: 0.2rem;
}

.checkbox {
    margin-left: 0.3rem;
    background-color: var(--screen-bg-color);
}

.step-count-box {
    line-height: 1.6rem;
    height: 1.6rem;
    display: flex;
    margin-right: 0.5rem;
    /*  width: 14.5rem; */
    width: 100%;
}

.forward-backward-image {
    width: 1.5rem;
    height: 1.5rem;
}

.forward,
.backward {
    height: 1.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.autoMode-radio-btns {
    place-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--screen-bg-color);
    font-size: var(--font-size-lg);
}

.forward.checked,
.backward.checked {
    background-color: var(--played-cell-bg-color);
}

#myProgress {
    position: relative;
    width: 100%;
    height: 1.6rem;
    font-size: var(--font-size);
    text-align: right;
    padding-right: 0.5rem;
    background-color: var(--nested-cell-bg-color);
}

#myBarDef,
#myBarPlay {
    position: absolute;
    width: 20%;
    height: 1.6rem;
    line-height: 1.6rem;
}

#myBarDef {
    z-index: 2;
    background-color: var(--defined-cell-bg-color);
    color: white;
    text-align: center;
}

#myBarPlay {
    z-index: 1;
    background-color: var(--played-cell-bg-color);
    color: black;
    text-align: right;
    padding-right: 0.5rem;
}

.total-bar-value {
    line-height: 1.6rem;
    vertical-align: center;
}

/*=======================================*/
/* DB-Dialog 
/*=======================================*/

.puzzle-header {
    font-size: var(--font-size-xl);
    display: inline-block;
    color: black;
    margin-top: 1rem;
}


/* ===================================================*/
/*  Save and rename dialogs                           */
/*====================================================*/

.puzzle-dlg {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1.4rem;
}

.puzzle-dlg::backdrop {
    background: hsl(201 50% 40% /.5);
}

.dlg-header {
    font-size: var(--font-size-lg);
    font-weight: bold;
    margin: 0.5rem;
    text-align: center;
}

label {
    font-size: var(--font-size-lg);
    margin-left: 1.2rem;
    margin-bottom: 1.2rem;
}

.puzzle-name-input-dlg {
    width: 90%;
    margin-top: 0.8rem;
    margin-left: 1.2rem;
    padding: 0.4rem;
    font-size: var(--font-size-lg);
}

.ok-cancel-btns {
    font-size: var(--font-size);
    margin: 2.4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.8rem;
}

.ok-cancel-btn {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

/*=======================================*/
/* Tracker-Dialog 
/*=======================================*/



.trackerDlg {
    position: absolute;
    top: 0;
    z-index: 1;
    margin-top: 1rem;
    background-color: var(--screen-bg-color);
    border: none;
    padding: 1rem;
}


.tracker-dialog-area {
    /*  border: 0.2rem solid grey; */
    display: grid;
    place-items: center;
}


.backtrack-options {
    margin-top: 0.4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.4rem;
}


.trackerDlg::backdrop {
    background: hsl(201 50% 40% /.1);
}

.tracker-dlg-header {
    width: 100%;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
    background-color: DimGray;
    color: white;
  

}

.tracker-dlg-solution {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    place-items: center;
    border: 0.4rem solid DimGrey; 
    background-color: var(--played-cell-bg-color);
}

.label-solution {
    font-size: 1.4rem;
    padding: 0.6rem;
}

.number-of-solutions {
    text-align: center;
    font-size: 1.4rem;
}

.tracker-dlg-btn {
    background-color: var(--standard-btn-bg-color);
    border-radius: 0.6rem;
    border: none;
    font-size: 1rem;
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
}

.tracker-dlg-btn-image {
    width: 1.2rem;
    height: 1.2rem;
    margin: 0.2rem;
}

#tracker-dlg-btn-step-sequence-image,
#tracker-dlg-btn-solution-sequence-image {
    width: 2rem;
}


/*================


/*=======================================*/
/* Info-Dialog 
/*=======================================*/

.infoDlg::backdrop {
    background: hsl(201 50% 40% /.5);
}

.infoDlg {
    width: 30rem;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.infoDlgHeader {
    font-size: var(--font-size-lg);
    font-weight: bold;
    margin: 1rem;
    text-align: center;
}

.infoDlgBodyRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.infoDlgBody {
    font-size: var(--font-size-lg);
    margin-left: 1rem;
}

.infoIcon {
    margin-left: 0.5rem;
    margin-right: 1rem;
    height: 6rem;
    width: 6rem;
    background-color: white;
}

.infoDlg-OK-Btn {
    font-size: var(--font-size);
    width: 10rem;
    margin-top: 1rem;
    /* margin-left: auto; */
    float: right;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

/*=======================================*/
/* NewPuzzle-Dialog 
/*=======================================*/

.new-puzzle-dlg::backdrop {
    background: hsl(201 50% 40% /.5);
}


.new-puzzle-dlg-header {
    font-size: 2.4rem;
    font-weight: bold;
 
}

.level-fieldset {
    margin-top: 2rem;
}

.new-puzzle-selection-legend {
    margin-left: 1rem;
    font-weight: bold;
    font-size: var(--font-size);
}

.new-puzzle-icon {
    margin-left: 0.5rem;
    margin-right: 1rem;
    height: 6rem;
    width: 6rem;
    background-color: white;
}

#new-puzzle-ok-cancel-btns {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    gap: 1rem;
    margin-right: 2rem;
}

.new-puzzle-bar {
    position: relative;
    width: 50%;
    height: 1.6rem;
    font-size: var(--font-size);
    text-align: right;
}

#very-simple-Bar,
#simple-Bar,
#medium-Bar,
#heavy-Bar,
#very-heavy-Bar,
#extreme-heavy-Bar {
    position: absolute;
    height: 1.6rem;
    line-height: 1.6rem;
    padding-right: 0.5rem;
 }

.total-bar-value {
    line-height: 1.6rem;
    vertical-align: center;
}



#btn-new-puzzle-ok,
#btn-new-puzzle-cancel {
    text-align: center;
    font-size: var(--font-size);
}


/*=======================================*/
/* Confirm-Dialog 
/*=======================================*/

.confirm-dlg::backdrop {
    background: hsl(201 50% 40% /.5);
}

.confirm-dlg {
    width: 30rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.confirm-dlg-header {
    font-size: var(--font-size-lg);
    font-weight: bold;
    margin: 1rem;
    text-align: center;
}

.confirm-dlg-body {
    font-size: var(--font-size-lg);
    margin-left: 1rem;
}

.confirm-icon {
    margin-left: 0.5rem;
    margin-right: 1rem;
    height: 6rem;
    width: 6rem;
    background-color: white;
}

#confirm-ok-cancel-btns {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    gap: 1rem;
    margin-right: 2rem;
}

#btn-settings-dlg-ok,
#btn-settings-dlg-cancel,
#btn-confirm-ok,
#btn-confirm-cancel {
    text-align: center;
    font-size: var(--font-size);
}

.copyFeedback-dlg {
    width: 20rem;
    height: 4rem;
    background-color: black;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
.copyFeedback-dlg-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    text-align: center;
    color:white;
    font-size: var(--font-size-xl);
}

/*=======================================*/
/* Settings-Dialog 
/*=======================================*/

.new-puzzle-dlg,
.settings-dlg {
    max-width: 50rem;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    position: absolute;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 1.2rem;

}



.settings-dlg::backdrop {
    background: hsl(201 50% 40% /.5);
}

.settings-dlg-area {
    display: grid;
    place-items: center;
}

#settings-ok-cancel-btns {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    gap: 1rem;
    margin-right: 2rem;
}

/*======================================*/
/*======================================*/

/* 1. Dialogebene */
.puzzle-table-dlg {
    margin: auto;
    max-width: 800px;
    border: none;
    background-color: #500;

}

#db-puzzle-dialog::backdrop {
    background: #500
}

.db-puzzle-header {
    background-color: #500;
}

#db-close-btn {
    font-weight: bold;
    color: white;
    text-align: right;
    font-size: 3.4rem;
}

.tableFixHead {
    overflow-y: auto;
    /* make the table scrollable if height is more than 200 px  */
    height: 30rem;
    /* gives an initial height of 200px to the table */
}

.tableFixHead thead th {
    position: sticky;
    /* make the table heads sticky */
    top: 0px;
    /* table head will be placed from the top of the table and sticks to it */
}

.db-puzzle-table {
    border-collapse: collapse;
    /* make the table borders collapse to each other */
    width: 100%;

}

.db-puzzle-table th,
.db-puzzle-table td {
    font-size: 1.2rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    border: 0.1rem solid #ccc;
}

.db-puzzle-table th {
    /* background: #eee; */
    background: #818181;
    color: white;
}

#col-status-given,
#col-status-solved,
#col-status-open,
#col-backTracks,
#col-countSolutions {
    writing-mode: vertical-rl;
    padding: 0.6rem;
}

#col-status-given {
    background-color: var(--defined-cell-bg-color);
    color: white;
}

#col-status-solved {
    background-color: var(--played-cell-bg-color);
    color: black;
}

#col-status-open {
    background-color: var(--nested-cell-bg-color);
    color: black;
}


.db-puzzle-tbody tr td {
    background-color: #ddd;
}

.db-puzzle-tbody tr.selected td {
    background-color: lightcyan;
}

.db-puzzle-btns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.3rem;
    margin: 1rem;
}

.db-puzzle-button {
    background-color: #ddd;
    text-align: center;
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    border-radius: 0.5rem;
    border: none;
    /*margin: 0.6rem 0.4rem 0.4rem 0.4rem;*/
    padding: 0.2rem;
}

.db-puzzle-button:active {
    transform: translate(0.2rem, 0.2rem);
}

/*======================================*/
/* Print */
/*======================================*/
.print-content {
    display: none;
}

/* ========================================*/


.dlg-header-plus-rotator {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    height: 4.6rem;

    font-size: 1.8rem;
    font-weight: bold;
    /*  text-align: center;
    place-items: center; */
    padding: 0.5rem;
    background-color: gray;
    color: white;
    border-radius: 0.6rem;

}

.dlg-new-puzzle-header {
    font-size: var(--font-size-lg);
    font-weight: bold;
    padding-left:1rem;
}

#loader-new-puzzle {
    display: block;
    position: absolute;
    right: 5%;
    z-index: 2;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border-top: 0.4rem solid gray;
    border-bottom: 0.4rem solid white;
    border-right: 0.4rem solid white;
    border-left: 0.4rem solid white;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader,
#loader-db {
    display: none;
    position: absolute;
    top: 24%;
    left: 25%;
    z-index: 2;
    width: 20rem;
    height: 20rem;
    border: 4.8rem solid #fbf9f900;
    border-radius: 50%;
    border-top: 4.8rem solid var(--defined-cell-bg-color);
    border-bottom: 4.8rem solid black;
    border-right: 4.8rem solid var(--played-cell-bg-color);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}


#search-level,
#loader-db-info {
    margin-top: 3rem;
    width: 15rem;
    padding: 1rem;
    font-size: var(--font-size-lg);
    color: black;
    background-color: white;
}

#puzzle-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    text-align: center;
    z-index: 2;
    font-weight: normal;
    background-color: var(--played-cell-bg-color);
    color: var(--played-cell-color);
    border: 0.4rem solid dimgray;
    padding: 2rem;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/*======================================*/
/* Global block */
/*======================================*/
.zoom-in {
    animation: zoom-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes zoom-in {
    0% {
        transform: scale(3);
    }

    100% {
        transform: scale(1);
    }
}

.cell-err {
    animation: zoom-out-shake 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


@keyframes zoom-out-shake {
    0% {
        transform: scale(2);
    }

    25% {
        transform: scale(2) rotate(30deg);
    }

    50% {
        transform: scale(2) rotate(-30deg);
    }

    100% {
        transform: scale(1);
    }
}

.app-empty-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    background-color: DimGray;
    color: white;
    border-radius: 0.6rem;
    font-size: 1.2rem;
}

.app-empty-footer>span {
    padding: 0.3rem;
}

@media screen and (orientation: portrait) and (width < 480px) {

    /* case 1 */
    /* Portrait */
    /* Galaxy S10: 360px * 760px */
    /* Galaxy S20 Ultra: 412px x 915px*/
    /* iPhone 14: 380 x 844 */
    :root {
        font-size: 65.3%;
        --sudoku-cell-size: calc(87vw/9);

    }

    .sidenav a,
    .dropdown-btn {
        padding: 0.8rem 0.8rem 0.8rem 2.4rem;
        font-size: 2.6rem;
    }

    #puzzle-info {
        font-size: 4rem;
    }

    .trackerDlg {
        width: 95vw;
        margin-left: auto;
        margin-right: auto;
    }

    .mobile-btn-container {
        width: 95vw;
        margin-left: auto;
        margin-right: auto;
    }

    .mobile-btn {
        font-size: 1.4rem;
    }

    .tracker-dlg-btn {
        font-size: 1.2rem;
    }

    .tableFixHead {
        /* make the table scrollable if height is more than 200 px  */
        height: 40rem;
    }
}

@media screen and (orientation: portrait) and (width < 480px) and (height <=700px) {

    /* case 2 */
    /* Portrait */
    /* iPhone SE (2022): 375 x 667*/
    :root {
        font-size: 45%;
        --sudoku-cell-size: calc(85vw/9);
    }

    .sidenav a,
    .dropdown-btn {
        padding: 0.8rem 0.8rem 0.8rem 2.4rem;
        font-size: 2.6rem;
    }

    #puzzle-info {
        font-size: 5rem;
    }

    .trackerDlg {
        width: 95vw;
        margin-left: auto;
        margin-right: auto;
    }

    .mobile-btn-container {
        width: 95vw;
        margin-left: auto;
        margin-right: auto;
    }

    .mobile-btn {
        font-size: 1.6rem;
    }

    .tracker-dlg-btn {
        font-size: 1.6rem;
    }

}

@media screen and (orientation: portrait) and (width >=480px) {

    /* case 3*/
    /* portrait */
    :root {
        font-size: 65%;
        --sudoku-cell-size: calc(70vw / 9);
    }

    #puzzle-info {
        font-size: 7rem;
    }


    .trackerDlg {
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
    }

    .mobile-btn-container {
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
    }

    .mobile-btn {
        font-size: 1.8rem;
    }

    .tracker-dlg-btn {
        font-size: 1.8rem;
    }


    .tableFixHead {
        /* make the table scrollable if height is more than 200 px  */
        height: 40rem;
    }

}

@media screen and (width >=480px) and (height < 500px) {

    /* Case 4 */
    /* Landscape */
    /* Galaxy S10: 360px * 760px */
    /* iPhone SE (2022): 375 x 667 */
    :root {
        font-size: 38%;
        --sudoku-cell-size: calc(70vw / 2 / 9);
    }

    .sudoku-solver-container {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    #puzzle-info {
        font-size: 5rem;
    }

    .trackerDlg {
        width: 35vw;
        margin-left: auto;
        margin-right: auto;
    }

    .mobile-btn-container {
        width: 35vw;
        margin-left: auto;
        margin-right: auto;
    }

    .mobile-btn {
        font-size: 1.8rem;
    }

    .tracker-dlg-btn {
        font-size: 1.6rem;
    }

    .tableFixHead {
        /* make the table scrollable if height is more than 200 px  */
        height: 40rem;
    }
}

@media screen and (orientation: landscape) and (width >=768px) and (height > 500px) {
    /* case 5 */
    /* Landscape */
    /* Galaxy S20 Ultra: 412px * 915px */
    /* iPhone 14: 380 x 844 */

    :root {
        font-size: 75%;
        --sudoku-cell-size: calc(min(90vw, 880px) / 2 / 9);
    }

    .mobile-btn {
        font-size: 1.4rem;
    }

    .tracker-dlg-btn {
        font-size: 1.2rem;
    }

    .sudoku-solver-container {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    #puzzle-info {
        font-size: 5rem;
    }

    .trackerDlg {
        width: calc(min(90vw, 800px) /2);
        margin-left: auto;
        margin-right: auto;
    }

    .mobile-btn-container {
        width: calc(min(90vw, 800px) /2);
        margin-left: auto;
        margin-right: auto;
    }

    .tableFixHead {
        /* make the table scrollable if height is more than 200 px  */
        height: 30rem;
    }

}